body {
    margin: 0;
}

/*text*/
.text {
    margin-top: 0;
    font-family: 'Rubik', 'Arial', sans-serif;
}

.text--size-s {
    font-size: 14px;
    font-weight: 400; /*regular = 400*/
}

.text--size-m {
    font-size: 18px;
    font-weight: 500; /*medium = 500*/
}

.text--size-l {
    font-size: 36px;
    font-weight: 500; /*bold = 700*/
}

.link {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
}

.image {
    vertical-align: top;
    width: 100%;
    height: auto;
}

.page {
    font-family: 'Rubik', 'Arial', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.page__main-wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.page__header-wrapper {
    width: 100%;
    background-color: #ffffff;
}

.page__inner {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page__header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.page__main {
    width: 100%;
}

/*header*/
.header {
    background-color: #ffffff;
    color: #0a1c51;
}


/*navigation*/
.navigation {
    display: flex;
    flex-wrap: wrap;
}

.navigation__logo {
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px;
}

.navigation__site {
    max-width: 770px;
    margin-right: -20px;
}

/*navigation-site*/
.navigation-site__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation-site__link {
    text-transform: uppercase;
    padding: 20px;
    font-weight: 500;
    color: #0a1c51;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 1.44;
}

/*main*/
.main__organization-info-wrapper {
    margin-bottom: -52px;
    box-shadow:  0 -1px #55789c, 0 -5px #00346a, inset 0 5px #10205a;
    width: 100%;
    background-color: #091a51;
}

.main__inner {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.main__organization-info-content {
    display: inline-block;
    position: relative;
    z-index: 10;
    margin-right: -110px;
    margin-left: auto;
}

.main__organization-info {
    display: flex;
}

.organization-info--slyle-trapeze {
    min-height: 50px;
    background: white;
    background: linear-gradient(-47deg, transparent 37px, white 0) right,
    linear-gradient(49deg, transparent 37px, white 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0 109px 0 116px;
}

.main__banner-box {
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.main__banner-wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #08174d;
    background-image: url(image/banner__bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 130px;
    background-size: cover;
}

.main__banner {
    padding-top: 88px;
    position: relative;
    bottom: -133px;
}

/*organization-info */
.organization-info {
    font-size: 15px;
    line-height: 1.44;
    font-weight: 400;
}

.organization__link {
    background-color: #ffffff;
    color: #131f4f;
    padding-top: 20px;
    padding-bottom: 13px;
}

.organization__link--size-time {
    padding-right: 30px;
}

.organization__link--size-email {
    padding-right: 20px;
}

.organization-info__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.organization__icon {
    background-repeat: no-repeat;
    background-position: left top 23px;

}

.organization__icon--image-time {
    padding-left: 25px;
    background-image: url(image/organization__icon--time.png);
}

.organization__icon--image-email {
    padding-left: 35px;
    background-image: url(image/organization__icon--email.png);
}

.organization__icon--image-phone {
    padding-left: 30px;
    background-image: url(image/organization__icon--phone.png);
}


/*.banner*/
.banner__grid {
    display: grid;
    grid-template-columns: 470px 100px 600px;
}

.banner__image-layout {
    grid-column: 1 / span 1;
    grid-row: auto / 3 span;
}

.banner__text-layout {
    grid-column: 3 / -1;
    grid-row: auto / span 1;
}

.banner__links-layout {
    grid-column: 3 / 12;
    grid-row: auto / span 1;
    min-height: 293px;
}

.banner__logos-layout {
    grid-column: 2 / -1;
    grid-row: auto / span 1;
}

.banner__image-box {
    width: 470px;
    height: 100%;
    background-image: url(image/banner__image.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    box-shadow: 0 0 10px 2px rgba(64, 64, 64, 0.3);
}

.banner__text-box {
    padding-top: 43px;
    margin-bottom: 47px;
}

.banner__title {
    font-size: 60px;
    line-height: 1.166;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 33px;
}

.banner__intro {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.666;
    font-weight: 400;
    color: #dddddd;
}

.banner__link {
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5625;
    font-weight: 400;
    color: #ffffff;
}

.banner__link--button-transparent {
    min-width: 160px;
    border-radius: 11px;
    box-shadow: inset 0 0 0 2px #ffffff;
}

.banner__link--size-m {
    padding: 7px 28px;
}

.banner__link--size-l {
    padding: 7px 36px;
}

.banner__links-box {
    width: 350px;
    padding-left: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: start;
}

.banner-logo__list {
    padding-left: 30px;
    padding-right: 14px;
    box-shadow:
            inset 0 -7px #858da9,
            0 0 10px 2px rgba(64, 64, 64, 0.3);
}

/*logo*/

.logo__link {
    width: 100%;
}

.logo__image--size-peridona {
    width: 116px;
    height: 27px;
}

.logo__image--size-natural {
    width: 106px;
    height: 29px;
}

.logo__image--size-microwave {
    width: 141px;
    height: 22px;
}

.logo__image--size-urban {
    width: 96px;
    height: 26px;
}

.logo__image--size-alisa {
    width: 87px;
    height: 42px;
}

/*.banner-logo-list*/
.logo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.logo-list__item {
    box-sizing: border-box;
    padding-right: 28px;
    padding-left: 28px;
    padding-bottom: 44px;
}

.logo-list__item--size-l {
    padding-top: 55px;
}

.logo-list__item--size-m {
    padding-top: 46px;
}

